<div class="row">
	<br />
	<h2 class="subheader">All About WizzMap</h2>
	<br />
	<h4 class="subheader">So what is WizzMap?</h4>
	<p>
	Wizzmap is way to store and organize geographic locations (points on a map). These points can be independent of addresses and can be organized in to groups.
	</p>
	<br />
	<h4 class="subheader">Why Beta?</h4>
	<p>
		WizzMap is still a work in progress, if you have ideas or feedback, let us know via email.
	</p>
	<br />
	<h4 class="subheader">Contact Info?</h4>
	<p>
	Any questions or issues can be sent to <a href="mailto:wizzmap@gmail.com">wizzmap@gmail.com</a>
	
	</p>
	<br />
<div>