<div class="row">
	<br />
	<h2 class="subheader">Instructions and Help</h2>
	<br />
	<h4 class="subheader">Welcome to Wizzmap</h4>
	<p>
	WizzMap is a way to store and group geographic locations. 
	</p>
	<br />
	<h4 class="subheader">How do I add a location?</h4>
	<p>
	You first need to <%= link_to 'create an account', register_path %> and/or <%= link_to 'login.', login_path %><br />
	Then just click on "Add a location from the home page." 
	</p>
	<br />
	<h4 class="subheader">Contact Info?</h4>
	<p>
	Any questions or issues can be sent to <a href="mailto:wizzmap@gmail.com">wizzmap@gmail.com</a>
	
	</p>
	<br />
<div>