<div class="row">
	<br />
	<h2 class="subheader">Instructions and Help</h2>
	<br />
	<h4 class="subheader">So what is WizzMap?</h4>
	<p>
	Wizzmap is ...
	</p>
	<br />
	<h4 class="subheader">What sort of information can I link to?</h4>
	<p>
		Anything you want
	</p>
	<br />
	<h4 class="subheader">Contact Info?</h4>
	<p>
	Any questions or issues can be sent to <a href="mailto:wizzmap@gmail.com">wizzmap@gmail.com</a>
	
	</p>
	<br />
<div>