<div class="row">
	<br />
	<h2>Testing Page</h2>
	<br />
	<%= link_to 'New Point', new_point_path, class: "button" %>
        <br />
        <%= link_to 'List of Points for Debug', list_path, class: "button" %>
        <%= link_to 'List of Groups for Debug', groups_path, class: "button" %>

    
         <div id="dataDisplay">
            <h3 class="subheader">Data</h3>
            - pending -


          </div>
<div>