<!-- Info Window Partial -->

<div id="info-inside">
    <div id="info-title">
        <%= point.name %>
    </div>
    <div id="info-content">
       <%= point.content %>
    </div>

    <div id="info-menu">
    	<% if user_signed_in? %>
    		<% if current_user.id == point.user_id %>
    			<%= link_to ' Edit ', edit_point_path(point), class: "btn btn-info" %>
    		<% else %>
    			-ADD TO GROUP LINK-
    		<% end %>
    	<% end %>
    </div>

</div>