<!-- Partial for Mobile menu -->

<div class="menu_mobile">

        <!-- Action Call -->
        <div id="menu_action" class="mobmen">
            <button class="toggle btn btn-block btn-info" id="butt_act" type="button">Action</button>
        </div>

        <!-- Main Menu show? -->                     <!-- **My Location link needs to point to correct path -->
        <div id="menu_main" class="mobmen btn-group btn-group-vertical">        
            <button class="toggle btn btn-block" id="butt_add" type="button">Add Location</button>
            <!-- <button class="toggle btn btn-block" id="butt_search" type="button">Search</button> -->
            <% if user_signed_in? %>
                <%= link_to "My Locations", current_user.profile_name, class: "btn btn-block" %>
            <% end %>
            <button class="toggle btn btn-block" id="butt_clear" type="button">Clear</button>
        </div>

        <!-- Add Location -->
        <div id="menu_add" class="mobmen">
            <span id="add_lat"></span>
            <span id="add_long"></span> 
            <div>
                <%= link_to 'Add Location', new_point_path, class: "btn btn-info btn-block" %>
                <button class="toggle btn btn-block" id="butt_clear2" type="button">Clear</button>
            </div>
        </div>

        
        <div id="menu_search" class="mobmen">
            <%= render 'points/searchform' %>
            <button class="toggle btn btn-block" type="button">Clear</button>
        </div> 

    </div>

      <% content_for :scripts do %>
        <script type="text/javascript" charset="utf-8">
            
            function centerCall(){
                var lat = Gmaps.map.map.getCenter().lat();
                  sessionStorage.setItem("storLat", lat);
                var lng = Gmaps.map.map.getCenter().lng();
                  sessionStorage.setItem("storLong", lng);
                $('#add_lat').html(lat);         
                $('#add_long').html(lng);
            };

            Gmaps.map.callback = function() {
                google.maps.event.addListener(Gmaps.map.serviceObject, 'center_changed', function() {
                    centerCall();
                    });
                
            };

      
             <%= render 'points/infoboxscript' %>
                    
        </script>
    <% end %>