<!-- Edit Point -->


<% if mobile_device? %>    <!-- Mobile -->
	
	<div class="mobile-container">
		<h4>Edit Location</h4>
	    <%= render 'form' %>
	    <hr>
		You can also delete the point if needed.<br/><br />
		<%= link_to 'Delete Point', @point, class: "button alert small" %> 
	</div>


<% else %>

<br />

<div class="row">
	<div class="large-5 columns">
		<h3>Edit Point</h3>

		<%= render 'form' %>
		<hr>
		You can also delete the point if needed.<br/><br />
		
		<%= link_to 'Delete Point', @point, method: :delete, data: { confirm: 'Are you sure?' }, class: 'button small alert' %>
		
		
		
	</div>

</div>

<% end %>