<!-- Edit Point -->


<% if mobile_device? %>    <!-- Mobile -->
	
	<div class="mobile-container">
		<h4>Edit Location</h4>
	    <%= render 'form' %>
	    <br />
	</div>


<% else %>

<br />

<div class="row">
	<div class="large-5 columns">
		<h3>Edit Point</h3>

		<%= render 'form' %>

		<%= link_to 'Cancel', @point %> 
		
	</div>

</div>

<% end %>