<h1>Testing New point</h1>


<div class="row-fluid">
	<div class="span8">
		<div>
			<%= gmaps4rails(@json) %>
		</div>
	</div>
	<div class="span4">
		<h4>New test Form </h4>
		<%= render 'testform' %>
	</div>
</div>

<% content_for :scripts do %>
	<script type="text/javascript">
		Gmaps.map.callback = function() {
    		var center = Gmaps.map.getCenter();
    		alert(center);
		};
	</script>
<% end %>