<!-- Edit Group -->


<% if mobile_device? %>    <!-- Mobile -->

	<div class="mobile-container">
		<h3> Edit Group </h3>
		<%= render 'groupform' %>
		<hr>
		You can also delete the group if needed.<br/><br />
		<%= link_to 'Delete Group', @group, method: :delete, data: { confirm: 'Are you sure?' }, class: 'button small alert' %>
		
	</div>



<% else %> <!-- Desktop -->

	<br />

	<div class="row">
		<div class="large-5 columns">
			<h3>Edit Group</h3>

			<%= render 'groupform' %>

			<hr>
			You can also delete the group if needed.<br/><br />
			<%= link_to 'Delete Group', @group, method: :delete, data: { confirm: 'Are you sure?' }, class: 'button small alert' %>
		
			
		</div>
		
		

	</div>



<% end %>






 