<!-- Edit Group -->


<% if mobile_device? %>    <!-- Mobile -->

	<div class="mobile-container">
		<h3> Edit Group </h3>
		<%= render 'groupform' %>
	</div>



<% else %> <!-- Desktop -->

	<br />

	<div class="row">
		<div class="large-5 columns">
			<h3>Edit Group</h3>

			<%= render 'groupform' %>

			<%= link_to 'Cancel', @group %> 
			
		</div>
		
		<div class="large-7 columns">
		</div>


	</div>



<% end %>






 