<!-- New Group creation -->

<% if mobile_device? %>    <!-- Mobile -->
	<div class="mobile-container">
		<%= render 'groupform' %>
	</div>



<% else %> <!-- Desktop -->
<br />
<div class="row">
	<div class="large-5 columns">
		<br />
		<h3 class="subheader">Create a New Group </h3>
		<%= render 'groupform' %>
	</div>

</div>

<% end %>

