<!-- New Group creation -->

<% if mobile_device? %>    <!-- Mobile -->
	<div class="mobile-container">
		<%= render 'groupform' %>
	</div>



<% else %> <!-- Desktop -->
<br />
<div class="row-fluid">
	<div class="span11 offset1">
		<%= render 'groupform' %>
	</div>

</div>

<% end %>

