<!-- Sign In Form -->

<% if mobile_device? %>    <!-- Mobile -->

	<%= render "devise/shared/login" %>

	<%= render "devise/shared/links" %>



<% else %>                 <!-- Desktop -->

<br />	
<div class="row">
	<div class="large-5 columns">
		<%= render "devise/shared/login" %>
	
	
		<%= render "devise/shared/links" %>
	
	</div>
</div>
	


<% end %>