<!-- Sign In Form -->

<% if mobile_device? %>    <!-- Mobile -->

	<%= render "devise/shared/login" %>

	<%= render "devise/shared/links" %>


<% else %>                 <!-- Desktop -->
<br />	
<div class="row">
	<div class="span4 offset1">
		<%= render "devise/shared/login" %>
	</div>

	<div class="span7">
		<%= render "devise/shared/links" %>
	</div>
</div>
	


<% end %>