<!-- Sign In Form -->

<% if mobile_device? %>    <!-- Mobile -->
	<div class="mobile-container">
		<%= render "devise/shared/login" %>

		<%= render "devise/shared/links" %>
	</div>


<% else %>                 <!-- Desktop -->

<br />	
<div class="row">
	<div class="large-5 columns">
		<%= render "devise/shared/login" %>
	
	
		<%= render "devise/shared/links" %>
	
	</div>
</div>
	


<% end %>