/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
  *= require gmaps4rails
 */

html{
	height: 100%;
}

body{
	height: 100%;
}

.m-main {
		margin: 10px auto 10px;
		width: 100%;
	}

.m-map {
		width: 75%;
		float: left;
	}

.m-side {
		width: 25%;
		float: right;
		padding-left: 10px;
		padding-right: 10px;

	}


.pullright {
	position: fixed;
	right: 10px;
}

.alert {
	margin-top: 10px;
}




/*===============
    Map Stuff
===============*/

#map label { width: auto; display:inline; }
#map img { max-width: none; }



.infobox {
	border: 2px solid #3E4147; 
	border-radius: 4px;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	margin-top: 8px; 
	background: #F1F4FA; 
	height: 225px;
	bottom: 0px;
}

#info-inside {
	padding: 5px;
}

#info-title {
	font-size: 1.5em;
	font-weight: 200;
}

#info-content {
	margin-top: 10px;
	overflow: scroll;
	height: 155px;
}

#info-menu {
	text-align: right;
}

/*=======================
   Foundation Override
=========================*/


 .top-bar-section li a:not(.button):hover {
        background: lightgrey !important; 
 }

