/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
  *= require gmaps4rails
 */

html{
	height: 100%;
}

body{
	height: 100%;
}

.m-main {
		margin: 10px auto 10px;
		width: 98%;
	}

.m-map {
		width: 75%;
		float: left;
	}

.m-side {
		width: 23%;
		float: right;
	}

.pullright {
	position: fixed;
	right: 10px;
}

.alert {
	margin-top: 10px;
}



#map label { width: auto; display:inline; }
#map img { max-width: none; }



.infobox {
	border: 1px solid black; 
	margin-top: 8px; 
	background: white; 
	height: 225px;
	bottom: 0px;
}

#info-inside {
	padding: 5px;
}

#info-title {
	font-size: 2em;
	font-weight: bold;
}

#info-content {
	margin-top: 10px;
	overflow: scroll;
	height: 155px;
}

#info-menu {
	text-align: right;
}

.pointlist-head {
	font-size: 1.50em;
	padding-bottom: 12px;
}
.pointlist-subhead {
	font-size: 1.25em;
	padding-bottom: 8px;
	
}

.pointlist-block {
	margin-top: 10px;
}

.pointlist-title {
	font-weight: bold;
}
.pointlist-content {
	 
}


 *= require foundation_and_overrides
