/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
  *= require gmaps4rails
 */

html{
	height: 100%;
}

body{
	padding-top: 40px;
	height: 100%;
}



.alert {
	margin-top: 10px;
}

#map label { width: auto; display:inline; }
#map img { max-width: none; }

.subheading {
	font-size: 12px;
}

.infobox {
	border: 1px solid black; 
	margin-top: 8px; 
	background: white; 
	padding: 5px;
	height: 200px;
	bottom: 0px;
	overflow: auto;
}


