

.mobmen {
	position: absolute;
	bottom: 0px;
	left: 0px;
	width: 100%;
}



#menu_main {
	display: none;
}

#menu_add {
	display: none;
	background-color: white;
}

#menu_search {
	display: none;
	height: 85px;
	background-color: white;
}




/*  overrides of Bootstrap variables */
.btn {
	height: 33px;
	font-size: 16px;
	padding-top: 5px;

}


@media all and (max-width: 600px) {
 .navbar-inner {
 	height: 10px;
 }
}