.mobile-text1 {
	font-size: 1.15em;

}

.mobile-container {
	padding-left: 10px;
	padding-right: 10px;
}


.mobmen {
	position: fixed;
	bottom: 0px;
	left: 0px;
	width: 100%;
}



#menu_main {
	display: none;
}

#menu_add {
	display: none;
	background-color: white;
}

#menu_search {
	display: none;
	height: 85px;
	background-color: white;
}

#add_long {
	position: absolute;
	right: 8px;
}

#add_lat {
	padding-left: 8px;
}


/*  overrides of Bootstrap variables 
.btn {
	height: 33px;
	font-size: 16px;
	padding-top: 5px;

} */


/* Mobile CSS  Sets navbar thinner  */

@media all and (max-width: 600px) { 
 .navbar-inner {
 	height: 10px;
 	}



}



  



